html, body {
  margin: 0;
  padding: 0 10px 60px 10px;
}

* {
	box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container__headerSection {
  margin-bottom: 50px;
}

.mainIllustartion {
  position: relative;
  overflow: hidden;
}

.mainIllustartion__caption {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: white;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  line-height: 23px;
  margin: 11px 9px;
}

.title--h1 {
  font: 52px/65px 'Merriweather', serif;
  margin-bottom: 6px;
}

.title--h2 {
  font: 32px/40px 'Merriweather', serif;
  margin-bottom: 40px;
}

.title--h3 {
  font: bold 18px/23px 'Merriweather', serif;
}

.historyTitle {
  margin-bottom: 20px;
}

.subheader {
  font: 18px/22px 'Montserrat', serif;
  max-width: 600px;
  color: #61584F;
}

.verticalBlocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.verticalBlock {
  max-width: 435px;
}

@media (max-width: 870px) {
  .verticalBlock {
    max-width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }
}

.verticalBlock__caption {
  font: 16px/20px 'Montserrat', sans-serif;
  color: #685B5B;
}

.verticalBlock__caption--bigger {
  font-size: 17px
}


.horizontalBlock__title,
.verticalBlock__title {
  display: flex;
  margin-bottom: 11px;
  position: relative;
  padding-left: 27px;
  margin-top: 20px;
}

.horizontalBlock__number,
.verticalBlock__number {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  background-color: #F3ECAD;
  text-align: center;
  margin-right: 10px;
  position: absolute;
  left: -7px;
  top: -3px;
}

.verticalBlock__text {
  font: 17px/22px 'PT Sans', sans-serif;
}

.horizontalBlock {
  margin-bottom: 32px;
}

.horizontalBlock--fourth {
  margin-bottom: 28px;
}

.horizontalBlock--five {
  margin-bottom: 20px;
}

.horizontalBlock:last-of-type {
  margin-bottom: 28px;
}

.horizontalBlock__text {
  font: 18px/23px 'PT Sans', sans-serif;
  margin-right: 21px;
}

.horizontalBlock__text--limited {
  max-width: 655px;
}

.horizontalBlock__caption {
  font: 14px/17px 'Montserrat', sans-serif;
  color: #685B5B;
  margin-top: 3px;	
}

.horizontalBlock__bottomBlock {
  display: flex;
}

@media (max-width: 870px) {
  .horizontalBlock__bottomBlock {
    flex-wrap: wrap;
  }

  .horizontalBlock__text {
    order: 2;
  }
}

.horizontalBlock__pictureContainer {
  margin-top: 7px;
}

.horizontalBlock__pictureContainer--fourth {
  margin-top: 5px;
}

.blockWithCaptions { display: flex; justify-content: space-between; margin: 20px 0 15px 0;}
.blockWithCaptions__left { max-width: 656px; width:  100%; }
.blockWithCaptions__right { max-width: 264px; width: 100%; }
.blockWithCaptions__list { 
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
.blockWithCaptions__item {
  margin-bottom: 10px;
}

@media (max-width: 870px) {
  .blockWithCaptions {
    flex-wrap: wrap;
  }
}

.caption--right {
  font: 16px/21px 'PT Serif', serif;
  color: #233D95;
}

.basicParagraph {
  font: 18px/23px 'PT Sans', sans-serif;
  max-width: 655px;
}

.basicParagraph + .basicParagraph {
  margin-top: 10px;
}

.quote {
  font: 48px/54px 'PT Serif', serif;
  color: #9B5004;
  margin: 48px 0 48px 156px;
  padding: 0;
  position: relative;
}

.quote::after {
  content: "»"
}

.quote::before {
  content: "«";
  position: absolute;
  left: -18px;
}

.footerLinks {
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
  list-style-type: none;
}

.footerLinks__item + .footerLinks__item {
  margin-top: 10px;
}

.footerLinks__link {
 font: 22px/28px 'PT Serif', serif;
 color:  #233D95;
}

p {margin: 0; padding: 0;}

/*font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;*/
